/* spacing */

  #clases {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #clases td, #clases th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #clases tbody tr:nth-child(odd) {
    background-color: #ddd;
  }
  
  #clases tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  
  #clases thead {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #0197c5;
    color: white;
  }
  
  .botonRegistro {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2px 8px;
    border: 1px solid #6b9697;
    border-radius: 0px;
    background: #b0f6f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#b0f6f8), to(#6b9697));
    background: -moz-linear-gradient(top, #b0f6f8, #6b9697);
    background: linear-gradient(to bottom, #b0f6f8, #6b9697);
    -webkit-box-shadow: #b8ffff 0px 0px 40px 0px;
    -moz-box-shadow: #b8ffff 0px 0px 40px 0px;
    box-shadow: #b8ffff 0px 0px 40px 0px;
    text-shadow: #4d6b6c 1px 1px 1px;
    font: normal normal bold 12px verdana;
    color: #ffffff;
    text-decoration: none;
}
.botonRegistro:hover,
.botonRegistro:focus {
    border: 1px solid #99d6d8;
    background: #d3ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#d3ffff), to(#80b4b5));
    background: -moz-linear-gradient(top, #d3ffff, #80b4b5);
    background: linear-gradient(to bottom, #d3ffff, #80b4b5);
    color: #ffffff;
    text-decoration: none;
}
.botonRegistro:active {
    background: #6b9697;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9697), to(#6b9697));
    background: -moz-linear-gradient(top, #6b9697, #6b9697);
    background: linear-gradient(to bottom, #6b9697, #6b9697);
}
.botonRegistro:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAtUlEQVRIidVVQQ6DMAwzFSdgj9j/H8UjNjhmOzSpwNoQbVMkLFWkoDq105QOQEBDGLn8+S4eMSsI3vFRgmp03oS/wLJcLeop2aDPlea5eFvAFr2U/KnzuTDJwwJTYEeKyYbCBIK4cQHKiny6BmyRVw1sfUpgFi3wqcFovC17QIC9goAGFgEX30UfxDpMOhZ9lzsStp0cEKVt5e2kZiBtmk/RRMQ1V0VVo50GW9QEl//RXHF/i76qOTF2BNEMuwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

.botonGuardar{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2px 8px;
    border: 1px solid #6b9697;
    border-radius: 0px;
    background: #b0f6f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#b0f6f8), to(#6b9697));
    background: -moz-linear-gradient(top, #b0f6f8, #6b9697);
    background: linear-gradient(to bottom, #b0f6f8, #6b9697);
    -webkit-box-shadow: #b8ffff 0px 0px 40px 0px;
    -moz-box-shadow: #b8ffff 0px 0px 40px 0px;
    box-shadow: #b8ffff 0px 0px 40px 0px;
    text-shadow: #4d6b6c 1px 1px 1px;
    font: normal normal bold 12px verdana;
    color: #ffffff;
    text-decoration: none;
}
.botonGuardar:hover,
.botonGuardar:focus {
    border: 1px solid #99d6d8;
    background: #d3ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#d3ffff), to(#80b4b5));
    background: -moz-linear-gradient(top, #d3ffff, #80b4b5);
    background: linear-gradient(to bottom, #d3ffff, #80b4b5);
    color: #ffffff;
    text-decoration: none;
}
.botonGuardar:active {
    background: #6b9697;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9697), to(#6b9697));
    background: -moz-linear-gradient(top, #6b9697, #6b9697);
    background: linear-gradient(to bottom, #6b9697, #6b9697);
}
.botonGuardar:before{
    content:  "\0000a0";
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABhklEQVQ4jZ2SPZLiMBBGn6SWbJddkJiEgDOQcQASjrFX4AicgIiUWrgVAbGrSG3jf2uDLYatGWZqZl/+ff26JbVarfx0OqWua4wxbLdbkiQhjmPiOKbrOoqioCxLiqJgGAYOhwPWWsqy/C2TyYTFYkGWZURRxHK55D37/Z7L5cL5fCYMQ47HI0EQ0Pf9L2mahtvtRlVVaK0/hP9FKYVSiqqqAOj7HsnzHO89TdMgImit8d6/LDDGoJQiz3PatuV+vyNaa9q2pSxLrLVvk16htUYpRV3XOOew1iLWWkQEEcE5hzHmQ3C329F1Hc45tNaICNZalFLPgtlsBkCWZS9LAKqqYhgG0jR93mS9XntjDHVdf3nA94RhyDAMiHOONE05nU6f7v6KzWbzdyVrLfP5/McGSZJgrUU75xAR6rr+9PleEcfx00BEGMeRpmn+38B7T1VVjOP4M4PH53jof9ciiiK01mjgbar3nrZtv2XhnANAHqHr9YoxBmMMQRAQBMGXBeM44r3nD0A9qI0AiRfPAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}